/runtime/*
/public/Upload/*
/.idea
/.vscode
*.log
.user.ini
*/.user.ini
/public/.user.ini
config/install/lock/install.lock
/app/common/controller/member/Redis.php
*/upload/*
*Upload/*
/public/docs
/runtime
*/*.exe
app/index/controller/Test.php
composer.phar
app/test/
vendor
*/.DS_Store
composer.lock
*.htaccess
/404.html
/index.html
/public/install.php
/public/index.html
/.well-known/
/.env
