<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('merchant.members/add')}"
               data-auth-edit="{:auth('merchant.members/edit')}"
               data-auth-updateMobile="{:auth('merchant.members/updateMobile')}"
               data-auth-delete="{:auth('merchant.members/delete')}"
               data-auth-stock="{:auth('merchant.members/stock')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>