<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">文章封面</label>
            <div class="layui-input-block layuimini-upload">
                <input name="image" class="layui-input layui-col-xs6" lay-verify="required" lay-reqtext="请上传文章封面" placeholder="请上传文章封面" value="">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="image" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_head_img" data-upload-select="image" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" class="layui-input" lay-verify="required" maxlength="200" lay-reqtext="请输入文章标题" placeholder="请输入文章标题" value="">
                <tip>请输入文章标题。</tip>
            </div>
        </div>
        <div class="layui-form-item  layui-row layui-col-xs12">
            <label class="layui-form-label required">语言</label>
            <div class="layui-input-block">
                <select name="lang">
                    {volist name=":config('lang.allow_lang_list')" id="vo" }
                    <option value="{$vo}" >{:config('lang.allow_lang_identification')[$vo]}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">简介(长度不超过200)</label>
            <div class="layui-input-block">
                <textarea name="introduction" rows="10" class="layui-textarea" lay-verify="required" placeholder="请输入简介" value=""></textarea>
                <tip>请输入简介。</tip>
            </div>
        </div>
        <div class="layui-form-item  layui-row layui-col-xs12">
            <label class="layui-form-label required">文章类型</label>
            <div class="layui-input-block">
                <select name="type">
                    {foreach $ArticleType as $key=>$vo}
                    <option value="{$vo.id}">{$vo.title}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">文章内容</label>
            <div class="layui-input-block">
                <textarea name="content" rows="20" class="layui-textarea editor" placeholder="请输入商品描述"></textarea>
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>